@model ShopCartViewModel
<div class="container text-center">
    @foreach (var el in Model.shopcart.ListShopItems)
    {
        <div class="alert alert-warning mt-3">
            <b>Auto:</b> @el.car.Name<br />
            <b>Price:</b> @el.car.price.ToString("c")
        </div>
    }
    <hr />
    <a class="btn btn-danger" asp-controller="Order" asp-action="Checkout">Pay</a>
</div>
